<h1>Thông tin Sinh Viên</h1>
 <table class="table border">
        <th>
          <lable>Age</lable>
        </th>
        <th>
          <lable>Address</lable>
        </th>
        <th>
          <lable>PhoneNumber</lable>
        </th>
    @foreach (var item in ViewData["Person"] as List<Person>)
    {
      <tr>
        <td>@item.PersonAge</td>
        <td>@item.PersonAddress</td>
        <td>@item.PersonPhoneNumber</td>
      </tr>
    }
 </table>