<form asp-Action="UpperToLower">
    <p>
        <label>Nhap chuoi: </label>
        <input type="text" name="strInput">
    </p>
    <p>
        <input type="submit" value="Xử Lý Chuỗi">
    </p>
</form>
<h2>@ViewBag.message</h2>